
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="signup_e.css">
    <link rel="stylesheet" href=" {{ url_for('index.static', filename='css/signup_e.css') }} ">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="icon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>EduGuid</title>
  </head>
<body>

<div class="header">
        <a id="help" href="help.html">?</a>
        <ul id="menu">
          <a id="b" href="login_e.html">تسجيل الدخول</a>
            <a id="s" href="landing.html">الصفحة الرئيسية</a>
        </ul>
        <div id="logo">
            <img src="home\static\material\logo.png" alt="" width="60" height="60" >

            </div>
            <div id="logo1">
                EduGuide
            </div>
    </div>
    <div class="footer">
        <br>
        Copyright © 2021
        <div id="icon">
          <img src="home\static\material\icon.png" alt="" width="80" height="20" >
          </div>
    </div>


<div class="wrapper fadeInDown">

    <div id="formContent">
      <br>
      <!-- عنوان -->
<p id="login2">إنشاء حساب جديد</p>



      <!-- المربع -->
      <form>

        <input type="text" id="login" name="login" placeholder="اسم المستخدم">
        <input type="email" id="login" name="login" placeholder="البريد الالكتروني">
        <input type="password" id="id"  name="login" placeholder="كلمة المرور">
        <br><br>
        <input type="submit" value="دخول" onclick="location.href ='landing.html'">

      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">

        <h>او تسجيل الدخول عن طريق </h>
        <br>
        <a id="i" href="http://www.facebook.com" class="fa fa-facebook" ></a>
        <a id="i" href="http://www.twitter.com" class="fa fa-twitter"></a>
        <a id="i" href="https://www.instagram.com" class="fa fa-instagram"></a>

      </div>

    </div>

  </div>
  <div id="pic">
    <img src="home\static\material\logo.png" alt="" width="330" height="400" >

    </div>
</body>
</div>


</html>
