<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduGuide Recommender System</title>
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href=" {{url_for('user_page.static', filename='css/home.css')}} ">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js">
  </script>
  <script rel="stylesheet" src=" {{url_for('user_page.static', filename='JS/home.js')}} "></script>


</head>

<body>

  <header>
    <div class="header">
      <a id="help" href="help.html">?</a>

      <ul id="menu">
        <a id="b" href="landing.html">تسجيل الخروج </a>
        <a id="a" href="home.html">الصفحة الرئيسية</a>
      </ul>
      <div id="logo">
        <img src="photos\logo.png" alt="" width="60" height="60">

      </div>
      <div id="logo1">
        EduGuide
      </div>
    </div>
  </header>



  <body >

    <div class="box"style="margin-right:25%;" >
      <div class="container " style="width: 800px;">


        <form class="" action="/user/home" method="post">

        <div style="margin-top:4%left:100px">
          <div class="col-sm-3" style="margin-left: 200px;" >
            <div class="topic">
              <h5
                style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bolder;">
                 عن شخصيتك : </h5>
            </div>
            <ul class="personal">
              <li class="list-group-item">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="p1"value="item_personal1"name="item_personal1"value="false">
                  <label class="custom-control-label" for="p1">اجادة فن الحديث</label>
                </div>
              </li>
              <li class="list-group-item">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="p2"value="item_personal2"name="item_personal1">
                  <label class="custom-control-label" for="p2"> اجتماعي</label>
                </div>
              </li>
              <li class="list-group-item">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="p3"value="item_personal3"name="item_personal1">
                  <label class="custom-control-label" for="p3"> الخوف من الدم والحقن</label>
                </div>
              </li>
              <li class="list-group-item">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="p4"value="item_personal4"name="item_personal1">
                  <label class="custom-control-label" for="p4"> الجلوس ساعات طويلة امام الحاسوب</label>
                </div>
              </li>
              <li class="list-group-item">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="p5"value="item_personal5" name="item_personal1">
                  <label class="custom-control-label" for="p5">تحمل الضغط</label>
                </div>
              </li>
            </ul>
            </div>
            </div>


<!-- Selected_books=["التربية الإسلامية","مطالعة وقواعد","علوم حياتية","كيمياء","فيزياء","رياضيات","كهرباء","التصميم","الرسم الهندسي","لغة انجليزية","الادارة","جغرافيا والتاريخ"] -->
<div  style="margin-top:4%right=:100px">
<div class="row"style="margin-right: 50px" >
        <!-- <div id="fv" class="subject sc"> -->
          <div class="topic">
            <h5
              style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bolder;">
            اختارالمواد المفضله</h5>
          </div>

          <ul class="book_favourites" >
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check1"value="Geography_and_history"name="book_favourites">
                <label class="custom-control-label" for="check1">جغرافيا والتاريخ</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check2"value="Management"name="book_favourites">
                <label class="custom-control-label" for="check2">الادارة</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check3"value="English_Language"name="book_favourites">
                <label class="custom-control-label" for="check3">لغة انجليزية</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check4"value="Engineering_drawing"name="book_favourites">
                <label class="custom-control-label" for="check4">الرسم الهندسي</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check5"value="design"name="book_favourites">
                <label class="custom-control-label" for="check5">التصميم</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check6"value="Electricity"name="book_favourites">
                <label class="custom-control-label" for="check6">كهرباء</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check7"value="Maths"name="book_favourites">
                <label class="custom-control-label" for="check7">رياضيات</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check8"value="physics"name="book_favourites">
                <label class="custom-control-label" for="check8">فيزياء</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check9"value="chemistry"name="book_favourites">
                <label class="custom-control-label" for="check9">كيمياء</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check10"value="Life_Sciences"name="book_favourites">
                <label class="custom-control-label" for="check10">علوم حياتية</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check11"value="Reading_and_rules"name="book_favourites">
                <label class="custom-control-label" for="check11">مطالعة وقواعد</label>
              </div>
            </li>
            <li class="list-group-item">
              <!-- Default checked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check12"value="Islamic_education"name="book_favourites">
                <label class="custom-control-label" for="check12">التربية الإسلامية</label>
              </div>
            </li>
          </ul>
        </div>
      </div>





              <div  style="margin-top:4%right=:100px">
            <div class="col"style="margin-right: 50px" >
                      <!-- <div id="fv" class="subject sc"> -->
                        <div class="topic">
                          <h5
                            style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bolder;">
                            اختر المهارات المفضلة</h5>
                        </div>

                        <ul class="favourites">
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check1"value="Drawing"name="favourites">
                              <label class="custom-control-label" for="check1">الرسم</label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check2"value="Learn_programming"name="favourites">
                              <label class="custom-control-label" for="check2">تعلم البرمجة</label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check3"value="calculation"name="favourites">
                              <label class="custom-control-label" for="check3">الحساب</label>
                            </div>
                          </li>

                                       <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check9"value="Read_news"name="favourites">
                              <label class="custom-control-label" for="check9">قراءة اخر الاخبار </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check10"value="Art"name="favourites">
                              <label class="custom-control-label" for="check10">الفن</label>
                            </div>
                          </li>

                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check12"value="Sports"name="favourites">
                              <label class="custom-control-label" for="check12">رياضة (مثل :كرة السلة , كرة القدم ...الخ)</label>
                            </div>
                          </li>

                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check13"value="Search_and_read"name="favourites">
                              <label class="custom-control-label" for="check13">البحث والمطالعة</label>
                            </div>
                          </li>

                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check15"value="Writing_poetry"name="favourites">
                              <label class="custom-control-label" for="check15">كتابة الشعر </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check16"value="Interest_gardening"name="favourites">
                              <label class="custom-control-label" for="check16">الاهتمام في الحدائق </label>
                            </div>
                          </li>

                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check18"value="Repair_phones"name="favourites">
                              <label class="custom-control-label" for="check18">إصلاح الهواتف </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check19"value="Visit"name="favourites">
                              <label class="custom-control-label" for="check19">زيارة الأماكن الأثرية والتاريخية </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check20"value="Web_design"name="favourites">
                              <label class="custom-control-label" for="check20">تصميم مواقع إلكترونية </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check21"value="Graphic_design"name="favourites">
                              <label class="custom-control-label" for="check21">التصميم الجرافيكي </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check22"value="Photography"name="favourites">
                              <label class="custom-control-label" for="check22">التصوير </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check23"value="Biology"name="favourites">
                              <label class="custom-control-label" for="check23">الاهتمام بالأحياء </label>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="check24"value="chemistry"name="favourites">
                              <label class="custom-control-label" for="check24">الاهتمام بالكيمياء </label>
                            </div>
                          </li>
                        </ul>
              </div>
            </div>


            <input type="submit"class="float-left submit-button" name="" value="التخصصات المقترحة"style="margin-right: 300px;margin-top:0.5%;">
          </form >

      </div>
    </div>


    <footer>

      <br>
      Copyright © 2021
      <div id="icon">
        <img src="photos\icon.png" alt="" width="80" height="20">

      </div>
    </footer>
</body>

</html>
